@model TIDIP_ADO_NET.Models.Medicals

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalTel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
