@model IEnumerable<TIDIP.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbBrithday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MbName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbBrithday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbCreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MbIdentity }) |
            @Html.ActionLink("Details", "Details", new { id=item.MbIdentity }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MbIdentity })
        </td>
    </tr>
}

</table>
