@model IEnumerable<_06ADOnet.Models.Products>

@{
    ViewBag.Title = "Products List";
    string StockColor;
}

@section css{

    <style>
        #addProduct {
            display: none;
        }
    </style>

}

<h2>Products List</h2>
<p class="text-right">
    <button class="btn btn-success" id="showAddForm"><span class="glyphicon glyphicon-plus"></span>&nbsp Create Products</button>
</p>
<div class="well" id="addProduct">
    @Html.Action("_Create")
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped table-hover_2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.UnitsOnOrder)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.ReorderLevel)
                    </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)

            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Categories.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suppliers.CompanyName)
                </th>*@
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {

        if (item.UnitsInStock < item.ReorderLevel && item.UnitsOnOrder == 0)
        {
            StockColor = "danger";

        }
        else if (item.UnitsInStock < item.ReorderLevel && item.UnitsOnOrder != 0)
        {
            StockColor = "warning";
        }
        else
        {
            StockColor = "success";
        }


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td class="bg-@StockColor text-center">

                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>*@
            @*@Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)

                </td> *@
            <td class="text-center">
                @if (@item.Discontinued)
                {

                    <span class="glyphicon glyphicon-remove text-danger" title="已下架"></span>
                }

                else
                {
                    <span class="glyphicon glyphicon-ok text-success" title="上架中"></span>

                }
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
                </td>*@
            <td>
                <button type="button" id="@item.ProductID" class="btn btn-primary glyphicon glyphicon-list" data-toggle="modal" data-target="#ShowDetailModal" onclick="getDetailData(event)">&nbsp;Details</button>

                @Html.ActionLink(" Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })



                @*@Html.ActionLink(" Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                    @Html.ActionLink(" Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-info glyphicon glyphicon-list" })
                    @Html.ActionLink(" Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })*@
            </td>
        </tr>
    }


</table>
        <div class="modal fade" id="ShowDetailModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Products Details</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp Exit</button>

                    </div>
                </div>
            </div>
        </div>


        @section scripts{
            <script>

                function getDetailData(evt) {
                    $('#ShowDetailModal .modal-body').load("/Products/Details/" + evt.target.id);
                    //'#ShowDetailModal .modal-body'  注意需要空格
                }

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                $('#showAddForm').click(function () {

                    $('#addProduct').fadeToggle(800);
                });
            </script>
        }
