@model TIDIP_ADO_NET.Models.Police

@{
    Layout = "";
    ViewBag.Title = "Details";
}

<div>
    <div class="text-center">
        <h3>@Html.DisplayFor(model => model.PoliceName)</h3>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="mt-5">
            @*@Html.DisplayNameFor(model => model.PoliceName)*@
            警察單位名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceName)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.County_City)*@
            縣市
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County_City)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.Area)*@
            鄉、鎮、市、區
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.PoliceAddress)*@
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAddress)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.PoliceCreatedDate)*@
            資訊建立時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceCreatedDate)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.PoliceTel)*@
            電話
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceTel)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoliceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
