@model TIDIP_ADO_NET.Models.Police

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Police</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PoliceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceTel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoliceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
