@model IEnumerable<TIDIP_ADO_NET.Models.Police>

@{
    ViewBag.Title = "警察單位資訊";
}

<h2>警察單位資訊</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            警察單位名稱

        </th>
        <th>
            縣市

        </th>
        <th>
            鄉、鎮、市、區

        </th>
        <th>
            地址

        </th>
        <th>
            電話

        </th>
        <th>
            資訊建立時間

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceCreatedDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PoliceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PoliceID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PoliceID })
        </td>
    </tr>
}

</table>
