@model IEnumerable<TIDIP.Models.Disaster_Accident>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disaster_Acciden_Type.DATypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DALocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DACreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbIdentity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disaster_Acciden_Type.DATypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DALocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DACreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbIdentity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DAID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DAID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DAID })
        </td>
    </tr>
}

</table>
