@model TIDIP_ADO_NET.Models.Disaster_Accident

@{
    Layout = "";
    ViewBag.Title = "Details";
}

<style>
    #nameStyle > span
    {
        font-weight:bold;
        font-size:1.2rem;


    }

</style>
<div class="text-center">
    <span style="font-weight:bold; font-size:2.0rem;" class="text-center">災害事故詳細內容</span>
    </div>
        <div>

            <hr />
            <div class="dl-horizontal " id="nameStyle">
                <span>
                    @*@Html.DisplayNameFor(model => model.DALocation)*@
                    災害事故位置
                </span>
                <p>
                    @Html.DisplayFor(model => model.DALocation)
                </p>

                <span>
                    @*@Html.DisplayNameFor(model => model.County_City)*@
                    縣市
                </span>

                <p>
                    @Html.DisplayFor(model => model.County_City)
                </p>

                <span>
                    @*@Html.DisplayNameFor(model => model.Area)*@
                    鄉、鎮、市、區
                </span>

                <p>
                    @Html.DisplayFor(model => model.Area)
                </p>

                <span>
                    @*@Html.DisplayNameFor(model => model.DACreatedDate)*@
                    資訊建立時間
                </span>

                <p>
                    @Html.DisplayFor(model => model.DACreatedDate)
                </p>

                <span>
                    @*@Html.DisplayNameFor(model => model.Disaster_Accident_Type.DATypeName)*@
                    災害事故類型
                </span>

                <p>
                    @Html.DisplayFor(model => model.Disaster_Accident_Type.DATypeName)
                </p>

                <span>
                    @*@Html.DisplayNameFor(model => model.DAMessage)*@
                    災害事故描述
                </span>

                <p>
                    @Html.DisplayFor(model => model.DAMessage)
                </p>

                <!--<span>-->
                @*@Html.DisplayNameFor(model => model.MbIdentity)*@
                <!--建立資訊會員
                </span>

                 <p>-->
                      @*@Html.DisplayFor(model => model.MbIdentity)*@
                 <!--</p>-->

                <span>
                    @*@Html.DisplayNameFor(model => model.Members.MbName)*@
                    建立資訊會員
                </span>

                <p>
                    @Html.DisplayFor(model => model.Members.MbName)

                </p>

            </div>
        </div>
        @*<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.DAID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@
