@model TIDIP_ADO_NET.Models.Rescues

@{

    Layout = "";
    ViewBag.Title = "Details";
}



<div>
    <div class="text-center">
        <h3>@Html.DisplayFor(model => model.RescueName)</h3>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt  class="mt-5">
            @*@Html.DisplayNameFor(model => model.RescueName)*@
            緊急救護單位名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RescueName)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.County_City)*@
            縣市
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County_City)
            
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.Area)*@
            鄉、鎮、市、區
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.RescueAddress)*@
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RescueAddress)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.RescueCreatedDate)*@
            資訊建立時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RescueCreatedDate)
        </dd>

        <dt class="mt-3">
            @*@Html.DisplayNameFor(model => model.RescueTel)*@
            電話
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RescueTel)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RescueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
