@model IEnumerable<TIDIP_ADO_NET.Models.Rescues>

@{
    ViewBag.Title = "緊急救護單位資訊";
}
@section css{

    <style>
        #addRescues {
            display: none;
        }
    </style>

}
<div class="m-3">
    <h2><strong>緊急救護單位資訊</strong></h2>
</div>
@if (Session["adm"] != null)
{
    <p>
        <button class="btn btn-success" id="showAddForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>&nbsp 建立資訊&nbsp(管理員)
        </button>
    </p>
}
<div class="well" id="addRescues">
    @Html.Action("Create")
</div>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            緊急救護單位名稱

        </th>
        <th>
            縣市

        </th>
        <th>
            鄉、鎮、市、區

        </th>
        <th>
            地址

        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RescueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RescueAddress)
            </td>
            <td></td>
            <td></td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.RescueId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RescueId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RescueId })*@

                <button type="button" id="@item.RescueId" class="btn btn-primary" data-toggle="modal" data-target="#ShowDetailModal" onclick="getDetailData(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
                    </svg>&nbsp;詳細內容
                </button>

                <!-- 管理員功能-->
                @if (Session["adm"] != null)
                {
                    @Html.ActionLink(" Edit (管理員)", "Edit", new { id = item.RescueId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink(" Delete (管理員)", "Delete", new { id = item.RescueId }, new { @class = "btn btn-danger btn-sm" })
                }
            </td>
        </tr>

    }

</table>

<hr style="border: 1px solid #ADFEDC " />
<div>
    @Html.ActionLink("返回災害事故資訊列表", "Index", "Disaster_Accident")
</div>
<div class="modal fade" id="ShowDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg> 關閉
                </button>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function getDetailData(evt) {
            $('#ShowDetailModal .modal-body').load("/Rescues/Details/" + evt.target.id);
            //'#ShowDetailModal .modal-body'  注意需要空格
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('#showAddForm').click(function () {

            $('#addRescues').fadeToggle(800);
        });

    </script>
}