@model IEnumerable<MCSDD26.Models.Products>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div class="row mt-2">
    @foreach (var item in Model)
    {

    <a class="card  col-lg-3"  href="@Url.Action("Display", new { id=item.ProductID})">
        <img src="@Url.Action("GetImage","Products",new { id=item.ProductID})" class="img-fluid pt-2" />
        <div class="card-body">
            <h5 class="text-dark"><strong>@item.ProductName</strong></h5>
            @*<p>
                @item.Description
            </p>*@
            
        </div>
        <div class="card-footer" >
            <h3 class="text-danger text-right">@Html.DisplayFor(modelItem => item.UnitPrice)</h3>
            <p><span class="btn btn-outline-danger btn-block">加入購物車 &raquo;</span></p>
        </div>
    </a>
    }
</div>
<span id="MyCart">
    <i class="bi bi-cart4"></i>
    <span>購物車</span>
    </span>
@section css{
<style>

  

    a:hover {
    
            text-decoration:none;
    
    }

    #MyCart {
    
    
    position:fixed;
    right:30px;
    bottom:70px;
    font-size:3rem;
    

    
    }
        #MyCart > span {
        
        
        font-size:1rem;
        
        
        }

</style >

    

    }
